
*.dcu
*.local
*.identcache
__history
*.exe
*.log
*.zip
/Ex1/backup
/Ex1/lib
*.lps
/Ex2/backup
/Ex2/lib
/Ex3/backup
/Ex3/lib
/Ex4/backup
/Ex4/lib
/Ex5/backup
/Ex5/lib
/Ex6/backup
/Ex6/lib
/CommonUtils/backup
/Ex7/backup
/Ex7/lib
